<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDj8ntDsgbtDOCfEdlH_4-JMt3R0uSJ5zE</string>
	<key>GCM_SENDER_ID</key>
	<string>1067218382988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectOlivier</string>
	<key>PROJECT_ID</key>
	<string>scannerolives</string>
	<key>STORAGE_BUCKET</key>
	<string>scannerolives.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067218382988:ios:fce05f81284daaf247cba9</string>
</dict>
</plist>